*
!!make_dir_lib.cmd
!!make_version_lib.cmd
!.gitignore
!.python-version
!argparse_ru.py
!freeze.txt
!icon.ico
!kinolist_lib.iss
!kinolist_lib.py
!LICENSE
!no_poster.jpg
!pyproject.toml
!README.md
!requirements.txt
!template_a5.docx
!template_libre.docx
!template.docx
!uv.lock
!version_lib.txt
!version_lib.yaml